:root {
  --color-main: #0a0908;
  --color-theme1: #22223b;
  --color-theme2: #4a4e69;
  --color-theme3: #383838;
  --text-dark: #000;
  --text-light: #d8d8d8;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  color: var(--text-light);
}

#root {
  display: table;
  width: 100%;
  height: 100%;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

.svg-icon {
  filter: invert(77%) sepia(0%) saturate(652%) hue-rotate(219deg)
    brightness(104%) contrast(118%);
}

a {
  text-decoration: none;
  color: var(--text-light);
}

/*#region Header*/
.header {
  width: 100%;
  height: 150px;
  background-color: var(--color-main);
  text-decoration: none;
}

.nav-bar::after {
  display: grid;
  grid-template-areas: "left center right";
}

.head-left {
  grid-area: left;
  width: 30%;
}
.head-center {
  grid-area: center;
  width: 40%;
}
.head-right {
  grid-area: right;
  width: 30%;
  text-align: right;
  padding-top: 25px;
  padding-right: 25px;
}

.column {
  float: left;
}

.head-left img {
  width: 70px;
  margin: 30px;
}

.head-center img {
  margin: auto;
  display: block;
  margin-top: 50px;
  width: 200px;
}

#logout:hover {
  cursor: pointer;
}

@media (max-width: 650px) {
  .nav-bar::after {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas:
      "tesla"
      "user";
  }
  .head-left {
    display: none;
  }
  .head-center {
    width: 100%;
    grid-area: tesla;
  }
  .head-right {
    grid-area: user;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
}
/*#endregion*/

.content {
  background-color: var(--color-main);
  display: table-row;
  height: 100%;
  width: 100%;
}

.search-form-container,
.cars-list,
.summary-container,
.reservation-container,
.user-container,
.registration-container,
.login-container,
.settings-container,
.edit-user-container,
.reservations-list {
  background-color: var(--color-theme3);
  margin: auto;
  margin-top: 60px;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  max-width: 800px;
  margin-bottom: 60px;
}

.error-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.error {
  border: 2px solid red;
}

/*#region HomeComponent*/
.search-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(5, 0.2fr) 1fr;
  row-gap: 5px;
  text-align: center;
  align-items: center;
  min-width: 280px;
  grid-template-areas:
    "header header"
    "loc-h-p loc-h-r"
    "loc-p-p loc-p-r"
    "loc-e-p loc-e-r"
    "date-h-p date-h-r"
    "date-p-p date-p-r"
    ". btn";
}

.search-form-container h3 {
  grid-area: header;
}
.location-header#pickUp {
  grid-area: loc-h-p;
}
.location-header#return {
  grid-area: loc-h-r;
}
.location-picker#pickUp {
  grid-area: loc-p-p;
}
.location-picker#return {
  grid-area: loc-p-r;
}
.location-error#pickUp {
  grid-area: loc-e-p;
}
.location-error#return {
  grid-area: loc-e-r;
}
.date-header#pickUp {
  grid-area: date-h-p;
}
.date-header#return {
  grid-area: date-h-r;
}
.date-picker#pickUp {
  grid-area: date-p-p;
}
.date-picker#return {
  grid-area: date-p-r;
}
.search-form-container .btn-right {
  grid-area: btn;
}

.search-header {
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 650px) {
  .search-form-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(11, 0.2fr);
    row-gap: 0;
    grid-template-areas:
      "header"
      "loc-h-p"
      "loc-p-p"
      "loc-e-p"
      "loc-h-r"
      "loc-p-r"
      "loc-e-r"
      "date-h-p"
      "date-p-p"
      "date-h-r"
      "date-p-r"
      "btn";
  }
}

.location-picker,
.date-picker,
input {
  font-size: 20px;
  width: 220px;
  border-radius: 4px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}
/*#endregion*/

/*#region Cars*/
.cars-list {
  min-width: 330px;
}

.car-container {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.7fr;
  column-gap: 20px;
  margin-bottom: 20px;
  grid-template-areas: "car det cost";
  border-bottom: 1px solid var(--text-dark);
}

.car-container:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.car-image {
  grid-area: car;
}
.car-details {
  grid-area: det;
}
.car-price {
  grid-area: cost;
  text-align: right;
}

.car-image img {
  max-width: 100%;
}

.text-price-1 {
  font-weight: bold;
  font-size: 20px;
}

.details-icon {
  height: 15px;
  transform: translateY(-2px);
}

.text-details {
  margin-top: 15px;
  font-size: 14px;
}

.car-container button {
  margin-bottom: 15px;
}

@media (max-width: 650px) {
  .car-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.3fr;
    grid-template-areas:
      "det"
      "car"
      "cost";
  }
  .car-container .car-image {
    width: 70%;
    height: 90%;
    margin-top: 20px;
  }
  .car-container p {
    margin: 0;
    font-size: 12px;
  }
  .text-price-1,
  .car-container span {
    font-size: 12px;
  }
  .car-container button {
    font-size: 12px;
    width: 80px;
    height: 25px;
    padding: 0;
  }
}
/*#endregion*/

/*#region User*/
.user-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(6, 0.2fr) 1fr;
  row-gap: 5px;
  min-width: 300px;
  text-align: center;
  align-items: center;
  grid-template-areas:
    "header header"
    "first-lab last-lab"
    "first-in last-in"
    "first-err last-err"
    "email-lab phone-lab"
    "email-in phone-in"
    "email-err phone-err"
    ". btn";
}

.user-container h3 {
  grid-area: header;
}
.user-container .first-name-label {
  grid-area: first-lab;
}
.user-container .last-name-label {
  grid-area: last-lab;
}
.user-container .first-name-input {
  grid-area: first-in;
}
.user-container .last-name-input {
  grid-area: last-in;
}
.user-container .first-name-error {
  grid-area: first-err;
}
.user-container .last-name-error {
  grid-area: last-err;
}
.user-container .email-label {
  grid-area: email-lab;
}
.user-container .phone-label {
  grid-area: phone-lab;
}
.user-container .email-input {
  grid-area: email-in;
}
.user-container .phone-input {
  grid-area: phone-in;
}
.user-container .email-error {
  grid-area: email-err;
}
.user-container .phone-error {
  grid-area: phone-err;
}
.user-container .btn-right {
  grid-area: btn;
}

@media (max-width: 650px) {
  .user-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(13, 0.2fr);
    row-gap: 0;
    grid-template-areas:
      "header"
      "first-lab"
      "first-in"
      "first-err"
      "last-lab"
      "last-in"
      "last-err"
      "email-lab"
      "email-in"
      "email-err"
      "phone-lab"
      "phone-in"
      "phone-err"
      "btn";
  }
}

/*#endregion*/

/*#region Summary*/
.summary-container {
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(4, 0.1fr);
  grid-column-gap: 50px;
  row-gap: 25px;
  grid-template-areas:
    "header header"
    "car user"
    "car res"
    "car cost"
    ". btn";
}

.summary-container h3 {
  grid-area: header;
}
.car-summary {
  grid-area: car;
  text-align: center;
  margin-top: 25px;
}
.user-summary {
  grid-area: user;
}
.reservation-summary {
  grid-area: res;
}
.cost-summary {
  grid-area: cost;
  font-size: 18px;
}
.summary-container .btn-right {
  grid-area: btn;
}

@media (max-width: 650px) {
  .summary-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 0.2fr);
    row-gap: 0;
    grid-template-areas:
      "header"
      "user"
      "res"
      "cost"
      "car"
      "btn";
  }
  .summary-container .car-image {
    margin: auto;
    width: 80%;
    height: 70%;
  }
  .summary-container p {
    margin: 0;
  }
  .summary-container .btn-right,
  .reservation-container .btn-right {
    text-align: center;
  }
  .summary-container button,
  .reservation-container button {
    font-size: 14px;
    height: 30px;
    width: 100px;
    padding: 0;
  }
}

.reservation-container {
  text-align: center;
  min-width: 250px;
}
/*#endregion*/

/*#region Buttons*/
button {
  background-clip: padding-box;
  background-color: var(--color-theme2);
  color: var(--text-light);
  border: 1px solid var(--text-light);
  border-radius: 6px;
  box-shadow: #00000005 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  padding: 10px;
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  width: 130px;
}

button:hover {
  background-color: var(--color-theme1);
  color: var(--text-light);
}

button:active {
  background-color: var(--color-theme2);
  color: var(--text-light);
}

.btn-right {
  text-align: right;
  margin-top: 15px;
}

.btn-center {
  text-align: center;
  margin-top: 15px;
}
/*#endregion*/

/*#region Footer*/
.footer {
  background-color: var(--color-main);
  text-align: center;
}

.footer-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-areas: "l c r";
}

#footer-center {
  grid-area: c;
}

div#gh-icon {
  grid-area: l;
  text-align: left;
}

img#gh-icon {
  height: 30px;
}
/*#endregion*/

/*#region Locations*/
.locations {
  text-align: center;
}

.locations iframe {
  width: 600px;
  height: 460px;
}

@media (max-width: 650px) {
  .locations iframe {
    width: 95%;
  }
}
/*#endregion*/

/*#region Registration*/
.registration-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr repeat(6, 0.2fr) 1fr;
  min-width: 300px;
  max-width: 500px;
  row-gap: 5px;
  text-align: center;
  align-items: center;
  grid-template-areas:
    "header header"
    "first-lab first-in"
    "last-lab last-in"
    "email-lab email-in"
    "phone-lab phone-in"
    "login-lab login-in"
    "password-lab password-in"
    ". btn";
}

.registration-container h3 {
  grid-area: header;
}
.registration-container .first-name-label {
  grid-area: first-lab;
}
.registration-container .first-name-input {
  grid-area: first-in;
}
.registration-container .last-name-label {
  grid-area: last-lab;
}
.registration-container .last-name-input {
  grid-area: last-in;
}
.registration-container .email-label {
  grid-area: email-lab;
}
.registration-container .email-input {
  grid-area: email-in;
}
.registration-container .phone-label {
  grid-area: phone-lab;
}
.registration-container .phone-input {
  grid-area: phone-in;
}
.registration-container .login-label {
  grid-area: login-lab;
}
.registration-container .login-input {
  grid-area: login-in;
}
.registration-container .password-label {
  grid-area: password-lab;
}
.registration-container .password-input {
  grid-area: password-in;
}
.registration-container .btn-right {
  grid-area: btn;
}

@media (max-width: 650px) {
  .registration-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(12, 0.2fr) 1fr;
    row-gap: 0;
    grid-template-areas:
      "header"
      "first-lab"
      "first-in"
      "last-lab"
      "last-in"
      "email-lab"
      "email-in"
      "phone-lab"
      "phone-in"
      "login-lab"
      "login-in"
      "password-lab"
      "password-in"
      "btn";
  }
}

/*#endregion*/

/*#region Login*/
.login-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.2fr 1fr;
  min-width: 300px;
  max-width: 400px;
  row-gap: 5px;
  text-align: center;
  align-items: center;
  grid-template-areas:
    "header header"
    "ll li"
    "pl pi"
    "er er"
    ". btn";
}

.login-container h3 {
  grid-area: header;
}
.login-container .login-label {
  grid-area: ll;
}
.login-container .login-input {
  grid-area: li;
}
.login-container .password-label {
  grid-area: pl;
}
.login-container .password-input {
  grid-area: pi;
}
.login-container .error-message {
  grid-area: er;
}
.login-container .btn-right {
  grid-area: btn;
}

@media (max-width: 650px) {
  .login-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(4, 0.2fr) 1fr;
    row-gap: 0;
    grid-template-areas:
      "header"
      "ll"
      "li"
      "pl"
      "pi"
      "btn";
  }
}
/*#endregion*/

/*#region Settings*/
.settings-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr repeat(4, 0.2fr);
  min-width: 200px;
  max-width: 350px;
  row-gap: 5px;
  text-align: center;
  align-items: center;
  grid-template-areas:
    "header header"
    "first-lab first-val"
    "last-lab last-val"
    "phone-lab phone-val"
    "password-lab password-val";
}

.settings-container h3 {
  grid-area: header;
}
.settings-container .first-name-label {
  grid-area: first-lab;
}
.settings-container .first-name-value {
  grid-area: first-val;
}
.settings-container .last-name-label {
  grid-area: last-lab;
}
.settings-container .last-name-value {
  grid-area: last-val;
}
.settings-container .phone-label {
  grid-area: phone-lab;
}
.settings-container .phone-value {
  grid-area: phone-val;
}
.settings-container .password-label {
  grid-area: password-lab;
}
.settings-container .password-value {
  grid-area: password-val;
}

.edit-icon {
  height: 15px;
  transform: translateY(-2px);
}

.edit-icon:hover {
  cursor: pointer;
}

@media (max-width: 650px) {
  .settings-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(8, 0.2fr);
    row-gap: 0;
    grid-template-areas:
      "header"
      "first-lab"
      "first-val"
      "last-lab"
      "last-val"
      "phone-lab"
      "phone-val"
      "password-lab"
      "password-val";
  }
}

/*#endregion*/

/*#region EditUser*/
.edit-user-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr 1fr;
  min-width: 300px;
  max-width: 350px;
  row-gap: 5px;
  text-align: center;
  align-items: center;
  grid-template-areas:
    "header"
    "input"
    "err"
    "btn";
}

.edit-user-container h3 {
  grid-area: header;
}
.edit-user-container .input {
  grid-area: input;
}
.edit-user-container .error-message {
  grid-area: err;
}
.edit-user-container .btn-center {
  grid-area: btn;
}
/*#endregion*/

/*#region Reservations*/
.reservations-list {
  min-width: 330px;
}

.user-res-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.5fr;
  grid-template-rows: 0.1fr 1fr;
  column-gap: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--text-dark);
  grid-template-areas:
    "name det cost"
    "car det cost";
}

.user-res-container:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.user-res-container h5 {
  grid-area: name;
  text-align: center;
}
.user-res-car {
  grid-area: car;
  text-align: center;
}
.user-res-details {
  grid-area: det;
}
.user-res-price {
  grid-area: cost;
  text-align: right;
  position: relative;
}

.user-res-cost {
  position: absolute;
  bottom: 60px;
  right: 10px;
}

.user-res-delete {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.trash-icon {
  height: 25px;
  filter: invert(48%) sepia(14%) saturate(2508%) hue-rotate(313deg)
    brightness(81%) contrast(107%);
}

.trash-icon:hover {
  cursor: pointer;
}

@media (max-width: 650px) {
  .user-res-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr;
    row-gap: 0;
    grid-template-areas:
      "name"
      "car"
      "det"
      "cost";
  }

  .user-res-cost {
    position: relative;
    bottom: 0;
    right: 30px;
  }

  .user-res-delete {
    position: relative;
    bottom: 0;
    right: 0;
  }
}
/*#endregion*/

/* div {
  border: 1px red solid;
} */
